body {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-image: url(dance-floor1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#dance-floor {
    width: 100%;
    max-height: 30%;
    position: relative;
}

#dancers {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.dancer {
    margin: 0 10px;
}

