@font-face {
    font-family: 'Pixelboy';
    src: url(./Pixeboy.ttf);
}

body {
    background-color: #064789;
    font-family: 'Pixelboy', Ariel, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    font-family: Verdana;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 0 50vh;
}

h1 {
    font-size: 48px;
    text-align: center;
    
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    color: #d7263d;
    font-size: 24px;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: #d7263d;
}

li {
    list-style-type: none;
}

.info {
    background-color: #d7263d;
    height: 50%;
    width: 70%;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    margin: 30px;
}

.updates {
    height: 30%;
    width: 45%;
    margin-right: 10%;
    padding: 25px;
    align-self: flex-end;
    border: solid 5px #fcba40;
    border-radius: 5px;
}

.body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.cricket {
    height: auto;
    width: 35%;
    border-radius: 5px;
}

.footer {
    background-color: #333333;
    text-align: center;
    margin-top: auto;
}

.github-link {
    color: #dee4e7;
    font-size: 22px;
    transition: all .2s ease-in-out;
    margin-left: 5px;
}

.github-link:hover {
    transform: scale(1.2);
    color: #d7263d;
}