body {
    background-color: #064789;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: Verdana;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  .cricket {
    align-content: center;
    height: auto;
    width: 500px;
  }